
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
    <title>Connexion</title>
    <link rel="stylesheet" href="${ctxStatic}/common/loginCss.css">
    <style type="text/css">
    	.form-group .form-item input{
    			margin-left:1px;
    	}
    </style>
</head>
<body class="login-bg">
<div class="login-contain">
    <div class="login-header">
<p  onclick="zhuce()" style="
    text-align: right;
    /* float: right; */
    margin-top: -20px;
    margin-bottom: 20px;
    padding-left: 20px;
    font-size: 20px;
"> Inscription</p>    		
        <p style="padding-bottom: 30px"><img alt="" src="https://images.caiyaoren.ltd/1509536318779494400.png"> </p>
        
                <p style="font-size: 13px;color: #cacaca">Un logiciel de services de publicité et de marketing en ligne qui aide les magasins de commerce électronique à augmenter leurs ventes, à créer des produits de vente à chaud et à aider les utilisateurs à devenir rentables.</p>
                
        
    </div>
    <div class="form-group">
        <div class="form-item">
           <span style="margin-left: -30px;color: #cacaca;">+243</span>
            <input id="Name" type="text" placeholder=" Veuillez saisir le numéro de compte
">
             <label for="username">
                <img src="${ctxStatic}/common/yhuming.png">
            </label>
        </div>
        <div class="form-item">
           
            <input style="margin-left: 15px" id="NamePassowrd" type="password" placeholder="Veuillez saisir le mot de passe">
             <label for="password">
                <img src="${ctxStatic}/common/mima2.png">
            </label>
        </div>
    </div>
    <div class="button-group">
        <button class="login-btn" onclick="login2()" id="doLogin">Connexion</button>
    </div>

</div>


<script src="${ctxStatic}/common/jquery.min.js"></script>
<script src="${ctxStatic}/common/common.js"></script>
<script src="${ctxStatic}/zjp/amazeui.min.js"></script>
<script src="${ctxStatic}/zjp/app.js"></script>
<script type="text/javascript"
	src="${ctxStatic}/layer/3.1/layer.js?V0.1-12102105"></script>
	
	

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
	
	<script>
    $(function(){
        $(window).resize();
    });
    //js设置居中
    $(window).resize(function(){
        $(".login-contain").css({
            position: "absolute",
            left: ($(window).width() - $(".login-contain").outerWidth())/2,
            top: 20
        });
    });
    

	  function  login2(){
				var   phone=  $("#Name").val() || "";
				var  password= $("#NamePassowrd").val() || "";
				if(phone == ""  ){
					layer.msg("Veuillez saisir le numéro de compte");
					return ;
				}

				if(password == ""  ){
					layer.msg("Veuillez saisir le mot de passe");
					return ;
				}

				var parame  =  {
					phone: phone,
					password : password
				}
				var url = "${ctxPath}/loginPost";
				doAjax(url,"post",parame,function(data){
							var code =  data.code ;
							if(code == 1){
								layer.msg(data.msg); 
							}else  if(code ==0 ){
								var token = data.accesstoken
								window.localStorage.setItem("ks11ks","") 
								window.localStorage.setItem("token",token)   
location.href="${ctxPath}/home";
							}
				})

	  }
	  
	  function  zhuce(){
		  location.href="${ctxPath}/register";

	  }
</script>

</body>
</html>
