
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport"
    content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
<meta name="format-detection"
    content="telephone=no,email=no,date=no,address=no">
<title>convide amigos</title>
<link rel="stylesheet" type="text/css"
    href="${ctxStatic}/common/aui.css" />
</head>
<style> 
</style>
<body>
   <header class="aui-bar aui-bar-nav" id="aui-header">
        <a class="aui-btn aui-pull-left" tapmode="" onclick="closeWin()">
            <span class="aui-iconfont aui-icon-left"></span>
        </a>
        <div class="aui-title">About</div>
        <a class="aui-btn aui-pull-right" tapmode="" onclick="history()">
            <span class="aui-iconfont  "></span>
        </a>
    </header>
    <div class="aui-card-list">

        <div class="aui-card-list-content">
            <img src="${ctxStatic}/common/05b5097ee5ad4e799eaff225b69f6123.png">
        </div>

    </div>
     
 
</script>
</html>