
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="${ctxStatic}/common/normailze.css">
    <link rel="stylesheet" href="${ctxStatic}/common/index.css">
    <script src="${ctxStatic}/common/rem.js"></script>
</head>

<body>
    <div id="app">
        <div class="content">
            <div class="header urls" url="${ctxPath}/userdetial">
                <h2>Personal center</h2>
                <div class="name">
                    <span>Buffett</span>
                    <span id="rowid">ID:</span>
                </div>
                <div class="bg-header">
                    <img src="${ctxStatic}/common/text.png" alt="" id="imgsrc">
                </div>
                <div class="progress">
                    <span style="margin-left:30px" id="pp2H">Numéro d'équipe</span>
                    <div class="progress-bar" >
                        <div class="bar bar-1" id="pp2"></div>
                    </div>
                </div>
                <div class="progress">
                    <span style="margin-left:10px" id="ppH"></span>
                    <div class="progress-bar" id1="pp2">
                        <div class="bar">
                            <div class="bar bar-2"  id="pp"></div>
                        </div>
                    </div>
                </div>
                <div class="h-b">
                    <div class="h-b-left">
                        <p style="color: #fc4349;" id="money2"></p>
                        <p>Total balance </p>
                    </div>
                    <div class="h-b-right">
                        <p style="color: #ffb305" id="shour"></p>
                        <p>Total income </p>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box1 urls" url="${ctxPath}/recharge"> 
                    Deposit
                </div>
                <div class="box2 urls" url="${ctxPath}/withdraw">
                    Withdraw
                </div>
            </div>
            

  
         </div>
    
</body>
<script type="text/javascript">
    var  tt111111  =  window.localStorage.getItem("token") || "";

    if(tt111111=="-11" || tt111111==""){
        location.href = "${ctxPath}/login";

    }
</script>
</html>