<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport"
    content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
<meta name="format-detection"
    content="telephone=no,email=no,date=no,address=no">
<title>convide amigos</title>
<link rel="stylesheet" type="text/css"
    href="${ctxStatic}/common/aui.css" />
<style type="text/css">
    .aui-list .aui-list-header{
        background-color: #fff;
    }     
</style>

</head>
<body>
<header class="aui-bar aui-bar-nav" id="aui-header">
        <a class="aui-btn aui-pull-left" tapmode="" onclick="closeWin()">
            <span class="aui-iconfont aui-icon-left"></span>
        </a>
        <div class="aui-title">${type}</div>
         
        </a>
    </header>
     <ul class="aui-list aui-form-list">
            <li class="aui-list-header">E-Transfer Account</li>
            
             <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    
                    <div class="aui-list-item-input">
                        <input type="text"  id="name" value="${data.firstname}" placeholder="name">
                    </div>
                     <div class="aui-list-item-label-icon">
                        <i class="aui-iconfont aui-icon-display aui-text-danger"></i>
                    </div>
                </div>
            </li>
        </ul>

         <ul class="aui-list aui-form-list">
            <li class="aui-list-header">Phone</li>
            
             <li class="aui-list-item">
                <div class="aui-list-item-inner">
                     
                    <div class="aui-list-item-input">
                        <input type="text"  id="phone"  value="${data.lastname}" placeholder="phone">
                    </div>
                    <div class="aui-list-item-label-icon">
                        <i class="aui-iconfont aui-icon-display aui-text-danger"></i>
                    </div>
                </div>
            </li>
        </ul>

        <br>

 <br>
            <div onclick="saveData()" class="aui-btn aui-btn-danger aui-btn-block">Save</div>

<script type="text/javascript"
    src="${ctxStatic}/jquery/jquery-1.12.4.min.js"></script>

<script type="text/javascript" src="${ctxStatic}/common/common.js"></script>
<script type="text/javascript"
    src="${ctxStatic}/common/clipboard.min.js"></script>

<script type="text/javascript" src="${ctxStatic}/common/qrcode.min.js"></script>

<script type="text/javascript" src="${ctxStatic}/common/aui-actionsheet.js" ></script>

<script type="text/javascript" src="${ctxStatic}/common/doT.min.js"></script>

<script type="text/javascript"
    src="${ctxStatic}/layer/3.1/layer.js?V0.1-12102105"></script>
    <script type="text/javascript">
            var rowid = "${rowid}";
            var   type =  "${type}";
            if( rowid &&rowid!="") {

            }
            function   saveData(){
                var  name =   $("#name").val() || "";
                var  phone =  $("#phone").val()|| "";

                if(name == "") {
                    layer.msg("请输入名称");
                    return ; 
                }
                if(phone == "") {
                    layer.msg("请输入密码");
                    return ; 
                }

                var parame =  {
                    name : name ,
                    phone : phone,
                    rowid : rowid ,
                    type :  type 
                }
                var url = "${ctxPath}/saveBankData";    
                doAjax(url,"post",parame,function(data){
                    history.back();
                })



            }
    </script>
  </body>  
</html>