<% layout('/layouts/default.html', {title: 'tab_auto_config管理', libs: ['validate']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa icon-note"></i> ${text(tabAutoConfig.isNewRecord ? '新增tab_auto_config' : '编辑tab_auto_config')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${tabAutoConfig}" action="${ctx}/tab/tabAutoConfig/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<#form:hidden path="rowid"/>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('注册奖励')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="zhucejl" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('体验金')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="tyj" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('天数')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="tianshu" maxlength="2" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('首次提现限制')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="sctx" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('首次提现汇率')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="sctxhuilv" maxlength="13" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('提现金额限制')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="txje" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('提现汇率')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="txhuilv" maxlength="20" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('充值最低金额')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="czzdje" maxlength="5" class="form-control required digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('是否自动')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
														<#form:select path="isauto" dictType="sys_yes_no" blankOption="true" class="form-control"/>
								
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('是否启用')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
																						<#form:select path="isqidong" dictType="sys_yes_no" blankOption="true" class="form-control"/>
								
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('转盘是否启用')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="zpisqidong" dictType="sys_yes_no" blankOption="true" class="form-control"/>

							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('充值匹配交易id')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="rechangeId" dictType="sys_yes_no" blankOption="true" class="form-control"/>

							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('是否开启自动换卡')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="huanka" dictType="sys_yes_no" blankOption="true" class="form-control"/>

							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('是否开启时间轮换')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="shijianlunhuan" dictType="sys_yes_no" blankOption="true" class="form-control"/>

							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('时间轮换时长（单位：分钟）')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="minutes" maxlength="5" class="form-control required digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('额度')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="edu" maxlength="5" class="form-control required digits"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('tab:tabAutoConfig:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>