<% layout('/layouts/default.html', {title: 'tab_product管理', libs: ['validate','fileupload']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa icon-note"></i> ${text(tabActiveImgs.isNewRecord ? '新增tab_active_imgs' : '编辑tab_active_imgs')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${tabActiveImgs}" action="${ctx}/tab/tabActiveImgs/save" method="post" class="form-horizontal">
		<div class="box-body">
			<div class="form-unit">${text('基本信息')}</div>
			<#form:hidden path="rowid"/>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label class="control-label col-sm-2" title="">
							<span class="required hide">*</span> ${text('开始时间')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-4">
							<#form:input path="starttime" readonly="true" maxlength="20" class="form-control laydate width-datetime width-120"
							dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm" data-do1ne="createtime_lte.click()"/>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label class="control-label col-sm-2" title="">
							<span class="required hide">*</span> ${text('结束时间')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-4">

							<#form:input path="endtime" readonly="true" maxlength="20" class="form-control laydate width-datetime width-120"
							dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm" data-do1ne="createtime_lte.click()"/>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label class="control-label col-sm-2" title="">
							<span class="required hide">*</span> ${text('自动赠送充值奖励是否开启')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-4">
							<#form:select path="isrechange" dictType="sys_yes_no" blankOption="true" class="form-control"/>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label class="control-label col-sm-2" title="">
							<span class="required hide">*</span> ${text('充值区间，多个区间以&隔开')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-4">
							<#form:input path="rechangestr" maxlength="100" class="form-control"/>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label class="control-label col-sm-2" title="">
							<span class="required hide">*</span> ${text('充值奖励金额，以&隔开')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-4">
							<#form:input path="rechangereward" maxlength="100" class="form-control"/>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label class="control-label col-sm-2" title="">
							<span class="required hide">*</span> ${text('充值奖励金额(单位：%)')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-4">
							<#form:input path="rechangerewardscale" maxlength="100" class="form-control"/>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label class="control-label col-sm-2" title="">
							<span class="required hide">*</span> ${text('缩略图')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-10">
							<#form:fileupload id="imgsrc1"    filePathInputId="imgsrc"
							uploadType="image" class="required" readonly="false" returnPath="true" maxUploadNum="1"/>
							<#form:hidden name="imgsrc" class="form-control"  path="imgsrc" />
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label class="control-label col-sm-2" title="">
							<span class="required hide">*</span> ${text('详情图')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-10">
							<#form:fileupload id="imgsrc2"    filePathInputId="imgsrc1"
							uploadType="image" class="required" readonly="false" returnPath="true" maxUploadNum="1"/>
							<#form:hidden name="imgsrc1" class="form-control"  path="imgsrc1" />
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label class="control-label col-sm-2" title="">
							<span class="required hide">*</span> ${text('排序')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-4">
							<#form:input path="orderindex" class="form-control digits"/>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="box-footer">
			<div class="row">
				<div class="col-sm-offset-2 col-sm-10">
					<% if (hasPermi('tab:tabActiveImgs:edit')){ %>
					<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
					<% } %>
					<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
				</div>
			</div>
		</div>
	</#form:form>
</div>
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>