<% layout('/layouts/default.html', {title: 'tab_orders管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('tab_orders管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('tab:tabOrders:edit')){ %>
 				<% } %>
				<a href="#" class="btn btn-default" id="btnSetting" title="${text('设置')}"><i class="fa fa-navicon"></i></a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${tabOrders}" action="${ctx}/tab/tabOrders/listData" method="post" class="form-inline  "
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('用户编号')}：</label>
					<div class="control-inline">
						<#form:input path="userid" maxlength="45" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('订单编号')}：</label>
					<div class="control-inline">
						<#form:input path="orderid" maxlength="45" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('订单金额')}：</label>
					<div class="control-inline">
						<#form:input path="ordermoney" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('利润金额')}：</label>
					<div class="control-inline">
						<#form:input path="lirunmonry" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('订单数')}：</label>
					<div class="control-inline">
						<#form:input path="ordercont" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('已支付订单')}：</label>
					<div class="control-inline">
						<#form:input path="paycount" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('创建时间')}：</label>
					<div class="control-inline">
						<#form:input path="createtime_gte" readonly="true" maxlength="20" class="form-control laydate width-datetime"
							dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm" data-do1ne="createtime_lte.click()"/>
						&nbsp;-&nbsp;
						<#form:input path="createtime_lte" readonly="true" maxlength="20" class="form-control laydate width-datetime"
							dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('最后支付时间')}：</label>
					<div class="control-inline">
						<#form:input path="createtime1_gte" readonly="true" maxlength="20" class="form-control laydate width-datetime"
							dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm" data-do1ne="createtime_lte.click()"/>
						&nbsp;-&nbsp;
						<#form:input path="createtime1_lte" readonly="true" maxlength="20" class="form-control laydate width-datetime"
							dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm"/>
					</div>
				</div>
				<div class="form-group">
					<button id="submit" type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
					<!--<button type="button" onclick="gengxin()" id="subm2it1" class="btn btn-primary btn-sm  hi1de">${text('仅重置订单')}</button>-->
					<button type="button" onclick="gengxin2()" id="subm2it133" class="btn btn-primary btn-sm  hi1de">${text('重置订单数据')}</button>
					
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	 showCheckbox: true,    // 是否显示复选框

	columnModel: [
		{header:'${text("用户编号")}', name:'userid', index:'a.userid', width:150, align:"left", frozen:true, form1atter: function(val, obj, row, act){
			return '<a href="${ctx}/tab/tabOrders/form?rowid='+row.rowid+'" class="btnList" data-title="${text("编辑tab_orders")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("订单编号")}', name:'orderid', index:'a.orderid', width:150, align:"left"},
		{header:'${text("订单金额")}', name:'ordermoney', index:'a.ordermoney', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 0, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("当前状态")}', name:'status1', index:'a.status1', width:150, align:"left" ,formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('ddzt')}, val, '未知', true).replace("已付款/待评价",'部分付款');
		}},
		{header:'${text("利润金额")}', name:'lirunmonry', index:'a.lirunmonry', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 0, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("订单数")}', name:'ordercont', index:'a.ordercont', width:150, align:"center"},
		{header:'${text("已支付订单")}', name:'paycount', index:'a.paycount', width:150, align:"center"},
		{header:'${text("创建时间")}', name:'createtime', index:'a.createtime', width:150, align:"center"},
		{header:'${text("最后更新时间")}', name:'paytime', index:'a.paytime', width:150, align:"center"},
		{header:'${text("操作")}', name:'actions', width:120, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('tab:tabOrders:edit')){ %>
				actions.push('<a href="${ctx}/tab/tabOrderData/list?orderid='+row.orderid+'" class="btnList" title="${text("查看明细")}"><i class="fa fa- "></i>查看订单明细</a>&nbsp;');
 			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
function  gengxin2(){

	var  ll = $('#dataGrid').dataGrid('getSelectRows');
	console.log(ll);
	var  list =  [];

	for(var i = 0 ; i < ll.length;i++ ){
		list.push(ll[i])
	}
	if(list.length ==0){
		js.showMessage("请选择订单!");
		return ;
	}
 	layer.confirm('确定删除订单码 ？', {
		  btn: ['确定', '取消'] //可以无限个按钮
		  ,btn3: function(index, layero){
		    //按钮【按钮三】的回调
		  }
		}, function(index, layero){ 
			
			var parame  = {
				rowids: list.join(",")	
			}
			var url = "${ctx}/tab/tabOrders/qingChu2";
			doAjax(url,"post",parame,function(data){
				$("#submit").click();
			})
		}, function(index){
		  //按钮【按钮二】的回调
		});
}

function gengxin(){
		var  ll = $('#dataGrid').dataGrid('getSelectRows');
		console.log(ll);
		var  list =  [];

		for(var i = 0 ; i < ll.length;i++ ){
			list.push(ll[i])
		}
		if(list.length ==0){
			js.showMessage("请选择订单!");
			return ;
		}
	 	layer.confirm('确定删除订单码 ？', {
			  btn: ['确定', '取消'] //可以无限个按钮
			  ,btn3: function(index, layero){
			    //按钮【按钮三】的回调
			  }
			}, function(index, layero){ 
				
				var parame  = {
					rowids: list.join(",")	
				}
				var url = "${ctx}/tab/tabOrders/qingChu";
				doAjax(url,"post",parame,function(data){
					$("#submit").click();
				})
			}, function(index){
			  //按钮【按钮二】的回调
			});
}
</script>