<% layout('/layouts/default.html', {title: 'tab_order_data_log管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('tab_order_data_log管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('tab:tabOrderDataLog:edit')){ %>
					<a href="${ctx}/tab/tabOrderDataLog/form" class="btn btn-default btnTool" title="${text('新增tab_order_data_log')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
				<a href="#" class="btn btn-default" id="btnSetting" title="${text('设置')}"><i class="fa fa-navicon"></i></a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${tabOrderDataLog}" action="${ctx}/tab/tabOrderDataLog/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('userid')}：</label>
					<div class="control-inline">
						<#form:input path="userid" maxlength="451" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('orderid')}：</label>
					<div class="control-inline">
						<#form:input path="orderid" maxlength="451" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('productid')}：</label>
					<div class="control-inline">
						<#form:input path="productid" maxlength="45" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('ordermonry')}：</label>
					<div class="control-inline">
						<#form:input path="ordermonry" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('rebatemoney')}：</label>
					<div class="control-inline">
						<#form:input path="rebatemoney" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('status1')}：</label>
					<div class="control-inline">
						<#form:input path="status1" maxlength="45" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('pjnr')}：</label>
					<div class="control-inline">
						<#form:input path="pjnr" maxlength="451" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('servicestart')}：</label>
					<div class="control-inline">
						<#form:input path="servicestart" maxlength="45" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('fenleicontent')}：</label>
					<div class="control-inline">
						<#form:input path="fenleicontent" maxlength="451" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('createtime')}：</label>
					<div class="control-inline">
						<#form:input path="createtime" readonly="true" maxlength="20" class="form-control laydate width-datetime"
							dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('parentid1')}：</label>
					<div class="control-inline">
						<#form:input path="parentid1" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('parentid2')}：</label>
					<div class="control-inline">
						<#form:input path="parentid2" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('parentid3')}：</label>
					<div class="control-inline">
						<#form:input path="parentid3" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('shangjilink')}：</label>
					<div class="control-inline">
						<#form:input path="shangjilink" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('istiyan')}：</label>
					<div class="control-inline">
						<#form:input path="istiyan" maxlength="1" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('ygzh')}：</label>
					<div class="control-inline">
						<#form:input path="ygzh" maxlength="45" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('ygzh2')}：</label>
					<div class="control-inline">
						<#form:input path="ygzh2" maxlength="45" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("userid")}', name:'userid', index:'a.userid', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/tab/tabOrderDataLog/form?rowid='+row.rowid+'" class="btnList" data-title="${text("编辑tab_order_data_log")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("orderid")}', name:'orderid', index:'a.orderid', width:150, align:"left"},
		{header:'${text("productid")}', name:'productid', index:'a.productid', width:150, align:"left"},
		{header:'${text("ordermonry")}', name:'ordermonry', index:'a.ordermonry', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 0, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("rebatemoney")}', name:'rebatemoney', index:'a.rebatemoney', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 0, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("status1")}', name:'status1', index:'a.status1', width:150, align:"left"},
		{header:'${text("pjnr")}', name:'pjnr', index:'a.pjnr', width:150, align:"left"},
		{header:'${text("servicestart")}', name:'servicestart', index:'a.servicestart', width:150, align:"left"},
		{header:'${text("fenleicontent")}', name:'fenleicontent', index:'a.fenleicontent', width:150, align:"left"},
		{header:'${text("createtime")}', name:'createtime', index:'a.createtime', width:150, align:"center"},
		{header:'${text("parentid1")}', name:'parentid1', index:'a.parentid1', width:150, align:"left"},
		{header:'${text("parentid2")}', name:'parentid2', index:'a.parentid2', width:150, align:"left"},
		{header:'${text("parentid3")}', name:'parentid3', index:'a.parentid3', width:150, align:"left"},
		{header:'${text("shangjilink")}', name:'shangjilink', index:'a.shangjilink', width:150, align:"left"},
		{header:'${text("istiyan")}', name:'istiyan', index:'a.istiyan', width:150, align:"left"},
		{header:'${text("ygzh")}', name:'ygzh', index:'a.ygzh', width:150, align:"left"},
		{header:'${text("ygzh2")}', name:'ygzh2', index:'a.ygzh2', width:150, align:"left"},
		{header:'${text("操作")}', name:'actions', width:120, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('tab:tabOrderDataLog:edit')){ %>
				actions.push('<a href="${ctx}/tab/tabOrderDataLog/form?rowid='+row.rowid+'" class="btnList" title="${text("编辑tab_order_data_log")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/tab/tabOrderDataLog/delete?rowid='+row.rowid+'" class="btnList" title="${text("删除tab_order_data_log")}" data-confirm="${text("确认要删除该tab_order_data_log吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>