<% layout('/layouts/default.html', {title: 'tab_user_address管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('tab_user_address管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<a href="#" class="btn btn-default" id="btnSetting" title="${text('设置')}"><i class="fa fa-navicon"></i></a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${tabUserAddress}" action="${ctx}/tab/tabUserAddress/listData" method="post" class="form-inline  hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('address')}：</label>
					<div class="control-inline">
						<#form:input path="address" maxlength="45" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('city')}：</label>
					<div class="control-inline">
						<#form:input path="city" maxlength="45" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('country')}：</label>
					<div class="control-inline">
						<#form:input path="country" maxlength="45" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('nikename')}：</label>
					<div class="control-inline">
						<#form:input path="nikename" maxlength="45" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('tel')}：</label>
					<div class="control-inline">
						<#form:input path="tel" maxlength="45" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('username')}：</label>
					<div class="control-inline">
						<#form:input path="username" maxlength="45" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('uid')}：</label>
					<div class="control-inline">
						<#form:input path="uid" maxlength="45" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('postalcode')}：</label>
					<div class="control-inline">
						<#form:input path="postalcode" maxlength="451" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("address")}', name:'address', index:'a.address', width:150, align:"left", frozen:true, format1ter: function(val, obj, row, act){
			return '<a href="${ctx}/tab/tabUserAddress/form?userid='+row.userid+'" class="btnList" data-title="${text("编辑tab_user_address")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("city")}', name:'city', index:'a.city', width:150, align:"left"},
		{header:'${text("country")}', name:'country', index:'a.country', width:150, align:"left"},
		{header:'${text("nikename")}', name:'nikename', index:'a.nikename', width:150, align:"left"},
		{header:'${text("tel")}', name:'tel', index:'a.tel', width:150, align:"left"},
		{header:'${text("username")}', name:'username', index:'a.username', width:150, align:"left"},
		{header:'${text("uid")}', name:'uid', index:'a.uid', width:150, align:"left"},
		{header:'${text("postalcode")}', name:'postalcode', index:'a.postalcode', width:150, align:"left"},
		 
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>