<% layout('/layouts/default.html', {title: 'tab_user_data管理', libs: ['validate']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa icon-note"></i> ${text(tabUserData.isNewRecord ? '新增用户信息' : '查看详情')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		
		<#form:form id="inputForm" model="${tabUserData}" action="${ctx}/tab/tabUserData/aveUpdatePassword" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<#form:hidden path="rowid"/>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('账号')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input readonly="true"  path="username"   maxlength="45" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('邮箱')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input  readonly="true" path="email" maxlength="45" class="form-control"/>
							</div>
						</div>
					</div>
					 
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('当前余额')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input readonly="true" path="currentmoney" class="form-control number"/>
							</div>
						</div>
					</div>
					 
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('邀请码')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input readonly="true" path="codes" maxlength="451" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('创建时间')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input   path="createtime"   maxlength="20" class="form-control laydate"
									dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('上级用户')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<a href="${ctx}/tab/tabUserData/form3?rowid=${tabUserData.parentid}"><#form:input path="parentid" maxlength="45" class="form-control"/> </a>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('上上级用户')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<a href="${ctx}/tab/tabUserData/form3?rowid=${tabUserData.parentid1}"><#form:input path="parentid1" maxlength="45" class="form-control"/> </a>
							</div>
						</div>
					</div>
					   
					  <div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('本人未结算金额')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input readonly="true" path="wjsMoney" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('今日本人购物金额')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input readonly="true" path="jrgwje" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('今日本人获得佣金')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input readonly="true" path="jryjje" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('本人总购物金额)')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input readonly="true" path="totalGwje" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('团队未结算金额)')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input readonly="true" path="wjsTotal" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('今日团队购物金额)')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input readonly="true" path="jrtdgwje" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('团队总购物金额)')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input readonly="true"  path="tdZgwje" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('团队人数)')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input readonly="true" path="sumMember" class="form-control number"/>
							</div>
						</div>
					</div>
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('总充值金额)')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input readonly="true"  path="sumBalance" class="form-control number"/>
							</div>
						</div>
					</div>
						<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('总提现金额)')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input readonly="true" path="totalmoney" class="form-control number"/>
							</div>
						</div>
					</div>
						<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('今日一级注册数)')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input readonly="true" path="yiji" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('今日二级注册数)')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input readonly="true" path="erji" class="form-control number"/>
							</div>
						</div>
					</div>
					
						<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('下级提现金额)')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input readonly="true" path="txje" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('今日下级提现人数)')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input readonly="true" path="jrtxrs" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('总下级提现人数)')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input readonly="true" path="totalTxrs" class="form-control number"/>
							</div>
						</div>
					</div>
					
					
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('今日下级提现金额)')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input readonly="true" path="jrtdtxje" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('总下级提现金额)')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input readonly="true" path="totalTdtxje" class="form-control number"/>
							</div>
						</div>
					</div>
					
					
						<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('今日下级充值人数)')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input readonly="true" path="jrxjczrs" class="form-control number"/>
							</div>
						</div>
					</div>
					
					
						<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('总下级充值人数)')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input readonly="true" path="totalXjczrs" class="form-control number"/>
							</div>
						</div>
					</div>
					
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('今日下级充值金额)')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input readonly="true" path="jrczje" class="form-control number"/>
							</div>
						</div>
					</div>
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('总级充值金额)')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input readonly="true" path="totalCzje" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('vip')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input readonly="true" path="vip" maxlength="11" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6 hide " id="pw">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('密码')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="password" maxlength="111" class="form-control  "/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
													<button type="button" class="btn btn-sm btn-primary" id="btnS1ubmit" onclick="showP()"><i class="fa fa-check"></i> ${text('修改密码')}</button>&nbsp;
						
																			<button type="submit" class="btn btn-sm btn-primary hide" id="btnS1ubmit2"  ><i class="fa fa-check"></i> ${text('保存修改密码')}</button>&nbsp;
						
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
 $("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});

function showP(){
	$("#pw").toggleClass("hide");
 	$("#btnS1ubmit2").toggleClass("hide");

} 
</script>