<% layout('/layouts/default.html', {title: 'tab_yuangong_data管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('员工管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('tab:tabYuangongData:edit')){ %>
					<a href="${ctx}/tab/tabYuangongData/form" class="btn btn-default btnTool" title="${text('新增tab_yuangong_data')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
				<a href="#" class="btn btn-default" id="btnSetting" title="${text('设置')}"><i class="fa fa-navicon"></i></a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${tabYuangongData}" action="${ctx}/tab/tabYuangongData/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('用户账号')}：</label>
					<div class="control-inline">
						<#form:input path="acccount" maxlength="45" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('登录密码')}：</label>
					<div class="control-inline">
						<#form:input path="password" maxlength="451" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('前台账号')}：</label>
					<div class="control-inline">
						<#form:input path="qtzh" maxlength="451" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('前台密码')}：</label>
					<div class="control-inline">
						<#form:input path="qtmm" maxlength="451" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('当前状态')}：</label>
					<div class="control-inline">
						<#form:input path="status1" maxlength="45" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('代理账号')}：</label>
					<div class="control-inline">
						<#form:input path="daili" maxlength="45" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
					
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("用户账号")}', name:'acccount', index:'a.acccount', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/tab/tabYuangongData/form?rowid='+row.rowid+'" class="btnList" data-title="${text("编辑tab_yuangong_data")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("登录密码")}', name:'password', index:'a.password', width:150, align:"left"},
		{header:'${text("前台账号")}', name:'qtzh', index:'a.qtzh', width:150, align:"left"},
		{header:'${text("前台密码")}', name:'qtmm', index:'a.qtmm', width:150, align:"left"},
		{header:'${text("当前状态")}', name:'status1', index:'a.status1', width:150, align:"left"},
		{header:'${text("代理账号")}', name:'daili', index:'a.daili', width:150, align:"left"},
		{header:'${text("操作")}', name:'actions', width:120, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('tab:tabYuangongData:edit')){ %>
				actions.push('<a href="${ctx}/tab/tabYuangongData/form?rowid='+row.rowid+'" class="btnList" title="${text("编辑tab_yuangong_data")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/tab/tabYuangongData/delete?rowid='+row.rowid+'" class="btnList" title="${text("删除tab_yuangong_data")}" data-confirm="${text("确认要删除该tab_yuangong_data吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>